<footer class="the-end">
  <div class="container footer">
    <ul class="footer-list">
      <li class="footer-list-item">
        <a href="#about" class="footer-list-link">About Us</a>
      </li>
      <li class="footer-list-item">
        <a href="#order" class="footer-list-link">CUSTOMER ORDER</a>
      </li>
      <li class="footer-list-item">
        <a href="#collection" class="footer-list-link">Our collection </a>
      </li>
      <li class="footer-list-item">
        <a href="#testimonials" class="footer-list-link">TEstimonials</a>
      </li>
    </ul>
    <p class="footer-text">
      A touch of <span class="word">Ukrainian</span> culture in every embroidery
    </p>
  </div>
  <div class="footer-img"></div>
</footer>
