<header class="header">
    <div class="header-container container">
        <a class="logo" href=""><img src="./img/logo.svg" alt="logo-vyshyvanka"></a>
        <nav class="header-navigation">
            <ul class="navigation-list">
                <li class="navigation-item"><a class="navigation-link" href="#about">About us</a></li>
                <li class="navigation-item"><a class="navigation-link" href="#collection">Our collection</a></li>
                <li class="navigation-item"><a class="navigation-link" href="#order">Customer order</a></li>
                <li class="navigation-item"><a class="navigation-link" href="#testimonials">Testimonials</a></li>
            </ul>
        </nav>
        <address class="address">
            <a class="address-link" href="tel:+380684439426">+380 (68) 443-94-26</a>
        </address>
        <div class="container-soc-menu">
            <ul class="social-list-menu">
                <li class="social-list-item">
                    <a class="social-list-link" href="https://www.facebook.com/goITclub/" target="_blank">
                        <svg class="social-icon" width="28" height="28">
                            <use href="./public/favicon.svg#facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list-item">
                    <a class="social-list-link" href="https://www.instagram.com/goitclub/" target="_blank">
                        <svg class="social-icon" width="28" height="28">
                            <use href="./public/favicon.svg#instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list-item">
                    <a class="social-list-link" href="https://www.youtube.com/@GoIT" target="_blank">
                        <svg class="social-icon" width="28" height="28">
                            <use href="./public/favicon.svg#youtube"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <input type="checkbox" id="menu-toggle" class="visually-hidden">
        <label for="menu-toggle" class="menu-icon">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </label>
        <div class="mobile-menu">
            <address class="address-mob">
                <a class="address-link-mob" href="tel:+380684439426">+380 (68) 443-94-26</a>
            </address>
            <ul class="navigation-list-mob">
                <li class="navigation-item-mob"><a class="navigation-link-mob" href="#">About us</a></li>
                <li class="navigation-item-mob"><a class="navigation-link-mob" href="#">Our collection</a></li>
                <li class="navigation-item-mob"><a class="navigation-link-mob" href="#">Customer order</a></li>
                <li class="navigation-item-mob"><a class="navigation-link-mob" href="#">Testimonials</a></li>
            </ul>
            <div class="ornament-menu"></div>
        </div>
    </div>
</header>