<section class="section">
    <div class="container-order">
        <h1 class="title-order"><span class="title-order title-order-span">Your order</span> is our priority: Personalized approach and quality of service</h1>
        <div>
            <form class="form" name="form-order" autocomplete="off">
                <label class="label">
                    <input class="form-input" type="text" name="name" placeholder="Enter your full name"/>
                  </label>
                <label class="label">
                    <input class="form-input" type="email" name="email" placeholder="Enter your email"/>
                  </label>
                  <textarea class="textarea form-input" name="user-comment" rows="7" placeholder="Comment"></textarea>
                </form>
        </div>
        <button class="form-button" type="submit">SEND
            <svg class="svg-form" width="26" height="10">
              <use href="../src/public/favicon.svg#arrow"></use>
            </svg>
        </button>
    </div>
</section>