.about-us-section{
  padding-top: 40px;
  padding-bottom: px;
}

.about-us-background-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  
}

.about-us-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.about-us-title {
  font-size: 32px;
  color: #FCF9F9;
  font-weight: 500;
  line-height: 1.38;
  letter-spacing: -0.03em;
}

.about-us-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: rgba(252, 249, 249, 0.4);
  line-height: normal;
  letter-spacing: -0.04em;
}

 .img-about {
    border-radius: 4px;
  }

.about-us-img {
  background-image: url(../img/mobile/about-back-mobile-1x.png);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 100%;
  background-size: 251px 408px;
}

@media screen and (min-resolution: 192dpi) and (min-width: 375px),
  screen and (min-resolution: 2dppx) and (min-width: 375px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 375px) {
  .about-us-img {
    background-image: url(../img/mobile/about-back-mobile-2x.png);
  }
}

/* =====================TABLET================== */

@media screen and (min-width: 768px) {
  .about-us-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .about-us-background-container {
    gap: 40px;
  }

  .about-us-title {
    font-size: 44px;
    line-height: 1.45;
  }

  .about-us-text {
    font-size: 16px;
  }

  .about-us-img {
    background-image: url(../img/tablet/about-back-tab-1x.png);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 100%;
    background-size: 368px 484px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .about-us-img {
    background-image: url(../img/tablet/about-back-tab-2x.png);
  }
}
/* ==================DESKTOP 1280px================== */

@media screen and (min-width: 1280px) {
  .about-us-section {
    padding-top: 75px;
    padding-bottom: 80px;
  }

  .about-us-background-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .about-us-text {
    width: 436px;
  }

  .about-us-img {
    background-image: url(../img/pc-1280/about-back-pc-1x.png);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 100%;
    background-size: 384px 484px;
  }
}
@media screen and (min-resolution: 192dpi) and (min-width: 1280px),
  screen and (min-resolution: 2dppx) and (min-width: 1280px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1280px) {
  .about-us-img {
    background-image: url(../img/pc-1280/about-back-pc-2x.png);
  }
}