address {
  font-style: normal;
}

.header {
  padding-top: 27px;
}

.header .container {
  margin: 0;
}

.header-container {
  display: flex;
  align-items: center;
  height: 52px;
}

.social-list-menu {
  display: flex;
  gap: 12px;
  position: absolute;
  right: 68px;
  top: 29px;
}

.social-list-item {
 width: 44px;
 height: 44px;
}

.social-list-link {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.10);
    background-color: rgba(252, 249, 249, 0.10);
}

.header-navigation {
  display: none;
}

.address {
  display: none;
}

/* ======= Mobile menu ======= */

.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 274px;
  height: 100vh;
  padding: 20px;
  padding-top: 30px;
  background: var(--yellow, #ECD979);
  background-image: url(../img/mobile/mob-menu-1x.png);
  background-repeat: no-repeat;
  background-size: 274px;
  background-position: bottom;
  transition: right 300ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

@media (min-device-pixel-ratio:2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .mobile-menu {
    background-image: url(../img/mobile/mob-menu-2x.png);
  }
}

.menu-icon {
  position: absolute;
  top: 40px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 36px;
  cursor: pointer;
  z-index: 10;
}

.address-link-mob {
  display: inline-block;
  color: #1C2225;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  padding: 12px 20px;
  border-radius: 15px;
  border: 1px solid rgba(28, 34, 37, 0.10);
}

.navigation-list-mob {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  margin: auto 0;
}

.navigation-link-mob {
  color: #1C2225;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
}

.ornament-menu {
  height: 230px;
}

.bar {
  width: 31px;
  height: 2px;
  background-color: #ECD979;
  margin: 3px 0;
  transition: 0.4s;
  border-radius: 20px;
}

.bar:nth-child(2) {
  width: 22px;
}

#menu-toggle:checked+.menu-icon .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
  background-color: #1C2225;
}

#menu-toggle:checked+.menu-icon .bar:nth-child(2) {
  opacity: 0;
}

#menu-toggle:checked+.menu-icon .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
  background-color: #1C2225;
}

#menu-toggle:checked ~.mobile-menu {
  right: 0;
}

#menu-toggle:checked + .menu-icon {
  position: fixed;
}

@media screen and (min-width: 768px) {

  .header {
    padding-top: 20px;
  }

  .social-list-menu {
    right: 95px;
    top: 22px;
  }

  .menu-icon {
    top: 33px;
    right: 32px;
  }

  .bar {
    width: 37px;
  }

  .bar:nth-child(2) {
    width: 27px;
  }

  .mobile-menu {
    padding-top: 20px;
    width: 380px;
    background-image: url(../img/tablet/tab-menu-1x.png);
    background-size: 100%;
  }

    @media (min-device-pixel-ratio:2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      .mobile-menu {
        background-image: url(../img/tablet/tab-menu-2x.png);
      }
    }

  .address-link-mob {
    width: 195px;
    font-size: 14px;
    line-height: 1.43;
    padding: 14px 28px;
  }

  .ornament-menu {
    height: 350px;
  }
}

@media screen and (min-width: 1280px) {

.header .container {
  margin: 0 auto;
}

.logo {
  margin-right: 60px;
}

.header-navigation {
    display: block;
  }

  .navigation-list {
  display: flex;
  align-items: center;
  gap: 25px;
}

.navigation-link {
  color: var(--white, #FCF9F9);
  font-size: 14px;
  line-height: 1.29em;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:hover, .navigation-link:active, .navigation-link:focus {
  color: var(--yellow, #ECD979);
}

.address {
  display: block;
}

.address {
  margin-left: auto;
}

.address-link {
  color: var(--white, #FCF9F9);
  font-size: 14px;
  line-height: 1.43;
  text-transform: uppercase;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.10);
  padding: 14px 28px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover, .address-link:active, .address-link:focus {
  border: 1px solid var(--yellow, #ECD979);
}

.menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

.social-list-menu {
  position: static;
  margin-left: 20px;
}

.social-list-link {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover, .social-list-link:active, .social-list-link:focus {
  border: 1px solid var(--yellow, #ECD979);
  background-color: transparent;
}

}