.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background: #1C2225;
}

.header {
  padding-top: 27px;
  position: sticky;
  z-index: 10;
}

.header .container {
    margin: 0;
}

.header-container {
  display: flex;
  align-items: center;
  height: 52px;
}

.header-navigation {
  display: none;
}

.social-list-menu {
  display: flex;
  gap: 12px;
  position: absolute;
  right: 68px;
  top: 29px;
}

.social-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.10);
  background: rgba(252, 249, 249, 0.10);
}

/* .navigation-list {
  display: flex;
  align-items: center;
  gap: 25px;
}

.navigation-link {
  color: var(--white, #FCF9F9);
    font-size: 14px;
    line-height: 1.29em;
    text-transform: uppercase;
} */

.address {
  display: none;
}

/* .address {
  margin-left: auto;
}

.address-link {
  color: var(--white, #FCF9F9);
    font-size: 14px;
    line-height: 1.43;
    text-transform: uppercase;
} */



/* ======= Mobile menu ======= */

.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-top: 30px;
  background: var(--yellow, #ECD979);
  transition: right 0.3s;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.menu-icon {
  position: absolute;
  top: 40px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 36px;
  cursor: pointer;
  z-index: 2;
}

.address-link-mob {
  width: 160px;
  color: #1C2225;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  padding: 12px 20px;
  border-radius: 15px;
  border: 1px solid rgba(28, 34, 37, 0.10);
}

.navigation-list-mob {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    margin: auto 0;
}

.navigation-link-mob {
  color: #1C2225;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
}

.ornament-mob {
  background-image: url();
}

.bar {
  width: 31px;
  height: 2px;
  background-color: #ECD979;
  margin: 3px 0;
  transition: 0.4s;
  border-radius: 20px;
}

.bar:nth-child(2) {
  width: 22px;
}

#menu-toggle:checked+.menu-icon .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
  background-color: #1C2225;
}

#menu-toggle:checked+.menu-icon .bar:nth-child(2) {
  opacity: 0;
}

#menu-toggle:checked+.menu-icon .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
  background-color: #1C2225;
}

#menu-toggle:checked~.mobile-menu {
  right: 0;
}

/* #menu-toggle:checked~.content {
  transform: translateX(-100%);
} */

@media screen and (min-width: 768px) {

  .header {
    padding-top: 20px;
  }
  .social-list-menu {
    right: 95px;
    top: 22px;
  }
  .menu-icon {
    top: 33px;
    right: 32px;
  }
  .bar {
    width: 37px;
  }
  .bar:nth-child(2) {
    width: 27px;
  }
  .mobile-menu {
    padding-top: 20px;
  }
  .address-link-mob {
    width: 195px;
    font-size: 14px;
    line-height: 1.43;
    padding: 14px 28px;
    }
}