
.container-order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.container-background-img {
max-width: 1440px;
height: 550px;
background-image: url(../img/mobile/form-mobile-1x.jpg);
background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
padding: 0;
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .container-background-img {
    background-image: url(../img/mobile/form-mobile-2x.jpg);
  }
}
.title-order {
    color: var(--white, #FCF9F9);
    font-size: 32px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.03em;
    margin-top: 80px;
}
.title-order-span {
    color: #ECD979;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    align-self: stretch;
}
.form-input {
    display: flex;
width: 335px;
height: auto;
flex-shrink: 0;
flex-direction: column;
align-items: flex-start;
gap: 8px;
padding: 14px 16px;
background-color: transparent;
border-radius: 15px;
border: 1px solid rgba(252, 249, 249, 0.10);
outline: transparent;
transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
color:#FCF9F9;
    font-size: 14px;
    line-height: normal;
    letter-spacing: -0.02em;
}
.form-input::placeholder {
    color: rgba(252, 249, 249, 0.50);
font-size: 14px;
line-height: normal;
letter-spacing: -0.02em;
}

.form-input:focus, .form-input:hover {
border: 1px solid rgba(252, 249, 249, 0.60);
}

.textarea {
align-self: stretch;
resize: none;
}

.form-button {
background-color: transparent;
color: #fcf9f9;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    padding: 14px 36px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.1);
    transition: border-color 250ms linear;
}

.form-button:hover,
.form-button:focus {
    border-color: #ecd979;
}

.svg-form {
    fill: #ECD979;
}

@media screen and (min-width: 320px) {
.img-order {
    display: none;
}
}
@media screen and (min-width: 768px) {

    .container-order {
        background-image: url(../img/tablet/form-back-tab-1x.png);
        background-repeat: no-repeat;
        background-position: left 1116px;
    }
    .title-order {
font-size: 44px;
line-height: 58px;
letter-spacing: -1.32px;
max-width: 542px;
margin-top: 100px;
    }
.form {
    width: 508px;
}
.label {
    width: 100%;
}
.form-input {
    width: 100%;
}
    .form-input::placeholder {
        font-size: 16px;
        letter-spacing: -0.32px;
    }
    .form-button {
        padding: 14px 39px;
        font-size: 16px;
        letter-spacing: -0.64px;
        margin-bottom: 100px;
    }
.img-order {
    display: block;
margin-right: 12px;
margin-left: 66px;
border-radius: 4px;
background: lightgray 50% / cover no-repeat;
}
}
@media screen and (min-width: 1280px) {

.container-order {

}

.title-order {
    margin-top: 150px;
}
}
