.section {
    background: #1C2225;
    padding-top: 80px;
    padding-bottom: 80px;
}
.container-order {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 20px 1px 20px;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 40px;
}
.container-background-img {
background-image: url(../img/mobile/form-mobile-1x.jpg);
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .container-background-img {
    background-image: url(../img/mobile/form-mobile-2x.jpg);
  }
}
.title-order {
    color: var(--white, #FCF9F9);
    font-family: Manrope;
    font-size: 32px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.96px;
    margin-top: 80px;
}
.title-order-span {
    color: var(--white, #ECD979);
}
.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    align-self: stretch;
}
.form-input {
    display: flex;
width: 335px;
height: auto;
flex-shrink: 0;
flex-direction: column;
align-items: flex-start;
gap: 8px;
padding: 14px 16px;
background-color: transparent;
border-radius: 15px;
border: 1px solid rgba(252, 249, 249, 0.10);
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input::placeholder {
    color: rgba(252, 249, 249, 0.50);
font-family: Manrope;
font-size: 14px;
line-height: normal;
letter-spacing: -0.28px;
}
.textarea {
align-self: stretch;
resize: none;
}
.form-button {
display: flex;
height: 49px;
padding: 14px 36px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 15px;
border: 1px solid rgba(252, 249, 249, 0.10);
background-color: transparent;
color: var(--white, #FCF9F9);
font-family: Manrope;
font-size: 14px;
font-weight: 600;
line-height: normal;
letter-spacing: -0.56px;
text-transform: uppercase;
}
.svg-form {
    fill: var(--yellow, #ECD979);
    z-index: 1;
}

@media screen and (min-width: 320px) {
.img-order {
    display: none;
}
}
@media screen and (min-width: 768px) {
    .section {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .container-order {
        background-image: url(../img/tablet/form-back-tab-1x.png);
        background-repeat: no-repeat;
        background-position: left 1116px;
    }
    .title-order {
font-size: 44px;
line-height: 58px;
letter-spacing: -1.32px;
max-width: 542px;
margin-top: 100px;
    }
.form {
    width: 508px;
}
.label {
    width: 100%;
}
.form-input {
    width: 100%;
}
    .form-input::placeholder {
        font-size: 16px;
        letter-spacing: -0.32px;
    }
    .form-button {
        padding: 14px 39px;
        font-size: 16px;
        letter-spacing: -0.64px;
        margin-bottom: 100px;
    }
.img-order {
    display: block;
margin-right: 12px;
margin-left: 66px;
border-radius: 4px;
background: lightgray 50% / cover no-repeat;
}
}
@media screen and (min-width: 1280px) {
.section {
    max-width: 1280px;
    padding-top: 150px;
    padding-bottom: 150px;
}
.container-order {

}

.title-order {
    margin-top: 150px;
}
}
