
@import url('./reset.css');
@import url('./container.css');
@import url('./visually-hidden.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./collection.css');
@import url('./order.css');
@import url('./testimonials.css');
@import url('./footer.css');
@import url('./menu.css');

:root {
  font-family: Manrope, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: #1C2225;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

